* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

.form___main {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  min-width: 310px;
  margin: 0 auto;
  margin-top: 3rem;
}

.input___field:not(first-child),
.submit___button {
  margin: 10px 0 0 0 !important;
}
.form___header {
  margin-bottom: 1rem;
}

.submit___button {
  max-width: 100%;
  min-width: 310px;

  height: 3rem;
}
