.input___field:not(first-child) {
  margin: 10px 0 0 0 !important;
}

.form___header {
  text-align: center;
}

.form___main {
  display: flex;
  flex-direction: column;
  min-width: 310px;
  max-width: 45em;
  margin: auto;
}
